<%= form_with(model: [@balance, @balance.movements.build]) do |form| %>
  <% if movement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movement.errors.count, "error") %> prohibited this movement from being saved:</h2>

      <ul>
        <% movement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :amount, class:"form-label" %>
    <%= form.number_field :amount, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class:"form-label" %>
    <%= form.text_field :description, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :type_movement, class:"form-label" %>
    <%= form.number_field :type_movement, class:"form-control" %>
  </div>

  <div>
    <%= form.label :type_account, style: "display: block" %>
    <%= form.number_field :type_account %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
