<%= form_with(model: movement) do |form| %>
  <% if movement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movement.errors.count, "error") %> prohibited this movement from being saved:</h2>

      <ul>
        <% movement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :type_movement, style: "display: block" %>
    <%= form.number_field :type_movement %>
  </div>

  <div>
    <%= form.label :type_account, style: "display: block" %>
    <%= form.number_field :type_account %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
