<div id="<%= dom_id movement %>">
  <p>
    <strong>Amount:</strong>
    <%= movement.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movement.description %>
  </p>

  <p>
    <strong>Type movement:</strong>
    <%= movement.type_movement %>
  </p>

  <p>
    <strong>Type account:</strong>
    <%= movement.type_account %>
  </p>

</div>
