<%= form_with(model: balance) do |form| %>
  <% if balance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(balance.errors.count, "error") %> prohibited this balance from being saved:</h2>

      <ul>
        <% balance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :balanceI, "Saldo Inicial", class:"form-label" %>
    <%= form.number_field :balanceI, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.file_field :photo %>
  </div>

  <div>
    <%= form.submit class:"btn btn-success" %>
  </div>
<% end %>
